# Created by .ignore support plugin (hsz.mobi)
# Ignore Play! working directory #
bin/
.eclipse
/lib/
/logs/
/modules
/project/target
/target
/project/project
tmp/
test-result
server.pid
*.iml
/dist/
.cache
.DS_Store
.idea
